{% extends 'base.html.twig' %}

{% block body %}
    <div class="form-wrapper">
        <h4>Please fill out this form to make your reservation.</h4>

        {{ form_start(form) }}
            {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}