{% extends 'base.html.twig' %}

{% block body %}
    <p>This is the main content area of the home page.</p>
    <p>Here you can find various links and information about our site.</p>

    {% block content %}{% endblock %}
{% endblock %}