{% extends 'base.html.twig' %}

{% block title %}
    - Reservation Results
{% endblock %}

{% block body %}
    <h1>Reservation Process</h1>

    <p>Available vehicles</p>
    <ul>
        {% for vehicle in availableVehicles %}
            <li>{{ vehicle }}</li>
        {% endfor %}

    <br>
    <a href="{{ path(constant('App\\Constants\\AppConstants::ROUTE_HOME')) }}">Back to Home</a>
{% endblock %}