{% extends 'base.html.twig' %}

{% block title %}
    - Reservation Results
{% endblock %}

{% block body %}
    <h1>Reservation Results</h1>

    <p>Your reservation has been successfully submitted!</p>

    <a href="{{ path(constant('App\\Constants\\AppConstants::ROUTE_HOME')) }}">Back to Home</a>
{% endblock %}