body {
    /* background-color: skyblue; */
}

main.container {
    /* On Large screens we set a max-width on the container */
    @media screen and (min-width: 1024px) {
        max-width: 35vw;
      }
}

/* form related styles */
form label.required:after {
    content: "*";
    color: var(--pico-color-red-500);
}
form .validation-errors ul {
    color: var(--pico-color-red-500);
}

/* flash messages */
[class^="flash-"] header {
    color: var(--pico-color-light);
    text-transform: capitalize;
}
.flash-notice header {
    background-color: var(--pico-color-green-500);
}
.flash-warning header {
    background-color: var(--pico-color-yellow-100);
    color: var(--pico-color-dark);
}
.flash-error header {
    background-color: var(--pico-color-red-500);
}