body {
    /* background-color: skyblue; */
}

/* form related styles */
form label.required:after {
    content: "*";
    color: var(--pico-color-red-500);
}
form .validation-errors ul {
    color: var(--pico-color-red-500);
}

@media screen and (min-width: 1024px) {
    .form-wrapper {
        margin-left: auto;
        margin-right: auto;
        max-width: 50%;
    }
}

/* flash messages */
[class^="flash-"] header {
    color: var(--pico-color-light);
    text-transform: capitalize;
}
.flash-notice header {
    background-color: var(--pico-color-green-500);
}
.flash-warning header {
    background-color: var(--pico-color-yellow-100);
    color: var(--pico-color-dark);
}
.flash-error header {
    background-color: var(--pico-color-red-500);
}

/* vehicle related styles */
.vehicle-list.grid {
    text-transform: capitalize;
    @media screen and (min-width: 768px) {
        grid-template-columns: repeat(3, 1fr);
    }
}
.vehicle-list.grid > * {
    width: 100%;
}

.vehicle-list input[type="radio"] {
    /*display: none; */ /* Hide the default radio buttons */
    opacity: 0; /* we can use opacity to hide the radio buttons, but still keep them accessible for screen readers and keep native support for form input validation messages. */
}

.vehicle-list article {
    border: 1px solid var(--pico-color-grey-300);
    transition: transform 0.2s, box-shadow 0.2s;
}

.vehicle-list article:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.vehicle-list input[type="radio"]:checked + article {
    border-color: var(--pico-color-blue-500);
}

.reservation-details {
    display: flex;
    justify-content: space-between;
    text-transform: capitalize;
    padding: 0.25rem;
    margin-bottom: 1rem;
    border: 1px solid var(--pico-color-grey-300);
    background-color: var(--pico-background-color);
}

@media screen and (max-width: 250px) {
    .reservation-details {
        flex-direction: column;
    }
}